* {
    margin:0;
    padding:0;
    border-collapse: collapse;
}



.cabecera {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* height: 300px; */
}

/* ******************** SEGUNDA NAV BAR ******************** */
.navbar2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa03c1;
}

.navbar2 a {
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    padding: 16px;
}

.navbar2 .activo {
    background-color: #6e0957;
}

.navbar2 a:hover {
    background-color: #410233;
    /* font-size: 20px; */
}

/* ******************** MAIN CON LOS ARTÍCULOS ********************** */
main {
    margin: 20px;
}



/* MAIN CON GRID CONTAINER */

.grid-container {
    display: grid;
    grid-template-areas: 'area-blog area-blog area-blog area-menu';
    gap: 5px;
    padding: 15px;
}

.blog {
    grid-area: area-blog;
}

    .entrada_blog {
        display: block;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.261);
        border-radius: 10px;
        /* box-shadow: ; */
        overflow: auto;
        padding: 20px;  
        margin-bottom: 20px;
        text-align: right ;
        /* width: 75%; */
    }

    .left {
        text-align: left ;
    }

    .right {
        text-align: right ;
    }

    h1 {
        text-align: left;
        margin-bottom: 20px;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
          letter-spacing: 2px;
          color: rgb(236, 205, 205);
          text-shadow: 1px 1px 5px rgb(0, 0, 0);
    }

    .foto_izq {
        width: 300px;
        float: left;
        /* margin-top: 20px; */
        margin-right: 30px;
    }

    .foto_der {
        width: 300px;
        float: right;
        /* margin-top: 20px; */
        margin-left: 30px;
    }

    .texto {
        margin-top: 20px;
        width: auto; 
        text-align: justify;
    }


    .boton {
        display: block;
        background-color: #024aff;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
    }


/* ******************** MENÚ LATERAL ******************** */
.menu {
    grid-area: area-menu;
    padding: 40px;
    /* border: 1px solid rgba(0, 0, 0, 0.261); */
    border-radius: 10px;
    /* margin-left: 20px; */
}

.tarjeta-autor,
.otros_posts {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.261);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin-inline: auto;
}

.tarjeta-autor {
    /* border: 1px solid rgba(0, 0, 0, 0.261); */
    background-color: #ed7fd4;
    margin-bottom: 20px;
    text-align: justify;
}

h2,
.titulo-autor {
    text-align: center;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    color: white;
    padding: 20px;
    font-weight: lighter;
    text-shadow: 1px 1px 3px black;
    font-size: 22px;
    letter-spacing: 2px;
}

.foto-autor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    /* margin-top: 15px; */
}

.texto-autor {
    padding: 10px;
}

.otros_posts {
    display: block;
    background-color: #efc3e5;
    
    margin-top: 30px;
    text-align: left;
    font-weight: bolder;
}

.menu ul li {
    list-style-type: none;
}
.menu ul li a {
    display: block;
    color: #fa03c1;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 15px;    
}

/* ******************** FOOTER CON GRID CONTAINER ******************** */
.grid-container-footer {
    display:grid;
    box-sizing: border-box;
    width: 100%;
    grid-template-columns:60% 40%; 
    /* gap: 5px; */
}

.h1-footer-der,
.h1-footer-izq {
    /* margin-bottom: 20px; */
    color: white;
    font-size: 26px;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.h1-footer-der {
    text-align: right;
}

.izquierda,
.derecha {
    background-color: #fa03c1;
    box-sizing: border-box;
    /* padding: 25px; */
    padding: 45px;
    /* border: 1px solid black; */
}

.derecha{
    text-align: right;
    padding-right: 30px;
}

.links-webs {
    /* display: inline-block; */
    padding-right: 10px;
    color: rgb(27, 24, 24);
    font-weight: bolder;
    text-decoration: none;
    margin-top: 15px;  
}

.abajo {
    grid-column: 1 / span 2;
    box-sizing: border-box;
    text-align: center;
    /* margin-top: 15px; */
    background-color: #6e0957;
    color: white;
    padding: 20px;
    font-weight: bolder;
    font-size: 12px;
}


/* ************************************************************* */
/* ******************** NOSOTROS ******************************* */
/* ************************************************************* */







